{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "14",
          "browsers": ["> 1%", "last 2 versions", "not dead"]
        },
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread"
  ]
}

